<div class="container" [hidden]="displayEnd">
  <div class="row row-first justify-content-center">

    <!-- Card -->
    <div class="col-10 col-sm-8 col-md-6 col-xl-4 card card-cascade hoverable">

      <!-- Card content -->
      <div class="card-body card-body-cascade">

      <!-- Material form register -->
      <form (ngSubmit)="onSubmitRegistration()">
        <p class="h4 text-center mb-4" [hidden]="displayEnd">Sign up</p>
        <p class="h4 text-center mb-4" [hidden]="!displayEnd">Welcome</p>

        <!-- First step of the form -->
        <div [hidden]="!step1">

          <!-- Input first name -->
          <div class="md-form">
            <i class="fa fa-user prefix grey-text"></i>
            <input [(ngModel)]="firstName" name="firstName" type="text" id="firstName" class="form-control">
            <label for="firstName">First name</label>
          </div>

          <!-- Input last name -->
          <div class="md-form">
            <i class="fa fa-user prefix grey-text"></i>
            <input [(ngModel)]="lastName" name="lastName" type="text" id="lastName" class="form-control">
            <label for="lastName">Last name</label>
          </div>

          <!-- Input email -->
          <div class="md-form">
            <i class="fa fa-envelope prefix grey-text"></i>
            <input [(ngModel)]="email" name="email" type="email" id="email" class="form-control">
            <label for="email">Your email</label>
          </div>

          <!-- Input email confirmation -->
          <div class="md-form">
            <i class="fa fa-exclamation-triangle prefix grey-text"></i>
            <input [(ngModel)]="emailConfirmation" name="emailConfirmation" type="email" id="emailConfirm" class="form-control">
            <label for="emailConfirm">Confirm your email</label>
          </div>

          <!-- Input password -->
          <div class="md-form">
            <i class="fa fa-lock prefix grey-text"></i>
            <input [(ngModel)]="password" name="password" type="password" id="password" class="form-control">
            <label for="password">Your password</label>
          </div>

          <!-- Input password confirmation -->
          <div class="md-form">
            <i class="fa fa-exclamation-triangle prefix grey-text"></i>
            <input [(ngModel)]="passwordConfirmation" name="passwordConfirmation" type="password" id="passwordConfirm" class="form-control">
            <label for="passwordConfirm">Confirm your password</label>
          </div>
        </div>

        <!-- Error alert -->
        <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
          {{errorMessage}}
        </div>

        <!-- Second step of the form -->
        <div class="form-group" [hidden]="!step2">

          <!-- Organisation -->
          <div class="md-form">
            <select [(ngModel)]="organisationChoosen" name="organisation" class="form-control mdb-select" (change)="enableBranch()" >
              <option value="" disabled selected>Choose organisation</option>
              <option value="1">Stikom Bali</option>
              <option value="2">Polytech Montpellier</option>
            </select>
          </div>

          <!-- Branch -->
          <div class="md-form">
            <select [(ngModel)]="branchChoosen" name="branch" class="form-control" [disabled]="!branchEnabled" (change)="enableDepartment()" >
              <option value="" disabled selected>Choose a branch</option>
              <option value="blank">No branch</option>
              <option value="1">International class</option>
              <option value="2">Regular class</option>
            </select>
          </div>

          <!-- Department -->
          <div class="md-form">
            <select [(ngModel)]="departmentChoosen" name="department" class="form-control mdb-select" [disabled]="!departmentEnabled" (change)="enableSubDepartment()" >
              <option value="" disabled selected>Choose department</option>
              <option value="blank">No department</option>
              <option value="1">Administration</option>
              <option value="2">Department 2</option>
            </select>
          </div>

          <!-- SubDepartment -->
          <div class="md-form">
            <select [(ngModel)]="subDepartmentChoosen" name="subDepartment" class="form-control mdb-select" [disabled]="!subDepartmentEnabled" >
              <option value="" disabled selected>Choose sub-department</option>
              <option value="blank">No sub-department</option>
              <option value="1">Sub1</option>
              <option value="2">Sub2</option>
            </select>
          </div>
        </div>



        <div class="text-center mt-4">
          <a class="btn btn-default" (click)="firstStepVerification()" [hidden]="!step1" >Next</a>
          <a class="btn btn-default" (click)="changeStep()" [hidden]="!step2" >Back</a>
          <button class="btn btn-default" (click)="register()" type="" [hidden]="!step2" >Sign Up</button>
        </div>

      </form>
      <!-- Material form register -->

      <hr>

      <div class="row justify-content-center">
        <!-- Forgotten password -->
        <p class="font-small grey-text d-flex justify-content-end mt-3">Already have an account ? <a [routerLink]="['/authentification']" class="dark-grey-text ml-1 font-weight-bold text-link"> Sign in</a></p>
        <!--<a class="px-2 fa-lg email-ic"><i class="fa fa-envelope"> </i></a>-->
      </div>

      </div>
    </div>



  </div>
</div>

<app-summary [hidden]="!displayEnd"
             title="Your account was created"
             text="To complete your registration please follow the instruction on the mail you received and wait for the admin validation"
             buttonTitle="Home" link="home">

</app-summary>

<!--


-->

<script>
  $(document).ready(function() {
  $('.mdb-select').material_select();
});
</script>
