<div class="container" xmlns="">
  <div class="row row-first justify-content-center">

    <!-- Card -->
    <div class="col-10 col-md-8 col-md-6 col-xl-4 card card-cascade hoverable" id="authentification">

      <!-- Card content -->
      <div class="card-body card-body-cascade">

      <!-- Material form register -->
      <form (ngSubmit)="onSubmit()">
        <p class="h4 text-center mb-4">Sign up</p>

        <!-- First step of the form -->
        <div [hidden]="!step1">

          <!-- Material input text -->
          <div class="md-form">
            <i class="fa fa-user prefix grey-text"></i>
            <input type="text" id="firstName" class="form-control">
            <label for="firstName">First name</label>
          </div>

          <!-- Material input text -->
          <div class="md-form">
            <i class="fa fa-user prefix grey-text"></i>
            <input type="text" id="lastName" class="form-control">
            <label for="lastName">Last name</label>
          </div>

          <!-- Material input email -->
          <div class="md-form">
            <i class="fa fa-envelope prefix grey-text"></i>
            <input type="email" id="email" class="form-control">
            <label for="email">Your email</label>
          </div>

          <!-- Material input email -->
          <div class="md-form">
            <i class="fa fa-exclamation-triangle prefix grey-text"></i>
            <input type="email" id="emailConfirm" class="form-control">
            <label for="emailConfirm">Confirm your email</label>
          </div>

          <!-- Material input password -->
          <div class="md-form">
            <i class="fa fa-lock prefix grey-text"></i>
            <input type="password" id="password" class="form-control">
            <label for="password">Your password</label>
          </div>

          <!-- Material input email -->
          <div class="md-form">
            <i class="fa fa-exclamation-triangle prefix grey-text"></i>
            <input type="email" id="passwordConfirm" class="form-control">
            <label for="passwordConfirm">Confirm your password</label>
          </div>
        </div>

        <!-- Second step of the form -->
        <div class="form-group" [hidden]="step1">

          <!-- Organisation -->
          <div class="md-form">
            <select [(ngModel)]="organisationChoosen" name="organisation" class="form-control mdb-select" (change)="enableBranch()" >
              <option value="" disabled selected>Choose organisation</option>
              <option value="1">Stikom Bali</option>
              <option value="2">Polytech Montpellier</option>
            </select>
          </div>

          <!-- Branch -->
          <div class="md-form">
            <select [(ngModel)]="branchChoosen" name="branch" class="form-control" [disabled]="!branchEnabled" (change)="enableDepartment()" >
              <option value="" disabled selected>Choose a branch</option>
              <option value="blank">No branch</option>
              <option value="1">International class</option>
              <option value="2">Regular class</option>
            </select>
          </div>

          <!-- Department -->
          <div class="md-form">
            <select [(ngModel)]="departmentChoosen" name="department" class="form-control mdb-select" [disabled]="!departmentEnabled" (change)="enableSubDepartment()" >
              <option value="" disabled selected>Choose department</option>
              <option value="blank">No department</option>
              <option value="1">Administration</option>
              <option value="2">Department 2</option>
            </select>
          </div>

          <!-- SubDepartment -->
          <div class="md-form">
            <select [(ngModel)]="subDepartmentChoosen" name="subDepartment" class="form-control mdb-select" [disabled]="!subDepartmentEnabled" (change)="validSelectForm('4')" >
              <option value="" disabled selected>Choose sub-department</option>
              <option value="blank">No sub-department</option>
              <option value="1">Sub1</option>
              <option value="2">Sub2</option>
            </select>
          </div>
        </div>

        <div class="text-center mt-4">
          <button class="btn btn-default" type="submit" (click)="changeStep()">Next</button>
        </div>

      </form>
      <!-- Material form register -->

      <hr>

      <div class="row justify-content-center">
        <!-- Forgotten password -->
        <a class="text-link px-3" [routerLink]="['/authentification']" ><h6>Back</h6></a>
        <!--<a class="px-2 fa-lg email-ic"><i class="fa fa-envelope"> </i></a>-->
      </div>

      </div>
    </div>

  </div>
</div>

<script>
  $(document).ready(function() {
  $('.mdb-select').material_select();
});
</script>
