/* You can add global styles to this file, and also import other style files */

/* BLUE #085193 */
/* YELLOW #fcd004 */
/* ORANGE #ffa701 */
/* RED #e5242c */
/* GREY #818384 */

body {
  background-color: #fafafa;
}

/* ---------- ROWS ---------- */
.row-first {
  margin-top: 5%;
}
.row-last {
  margin-bottom: 5%;
}
/* ---------- /ROWS ---------- */

/* ---------- COL ---------- */
.col-padding-1 {
  padding-left: 5%;
  padding-right: 5%;
}
/* ---------- /COL ---------- */

/* ---------- BUTTONS ---------- */

//BUTTON 1
.btn-default {
  background-color: #085193 !important;
}

//BUTTON 2
.btn-primary {
  background-color: #ffa701 !important;
}

//BUTTON 3
.btn-danger {
  background-color: #e5242c !important;
}

//BUTTON OUTLINE 1
.btn-outline-default {
  background-color: white !important;
  border-color: #085193 !important;
  color: #085193 !important;
}
.btn-outline-default:hover {
  border-color: #ffa701 !important;
  background-color: white !important;
  color: #ffa701 !important;
}
.btn-outline-default:not([disabled]):not(.disabled):active, .btn-outline-default:not([disabled]):not(.disabled).active, .show > .btn-outline-default.dropdown-toggle { //
  border-color: #ffa701 !important;
  background-color: white !important;
  color: #ffa701 !important;
}
.btn-outline-default:focus {
  border-color: #085193 !important;
  background-color: white !important;
  color: #085193 !important;
}

//BUTTON OUTLINE 2
.btn-outline-secondary {
  background-color: white !important;
  border-color: #ffa701 !important;
  color: #ffa701 !important;
}
.btn-outline-secondary:hover {
  border-color: #e5242c !important;
  background-color: white !important;
  color: #e5242c !important;
}
.btn-outline-secondary:not([disabled]):not(.disabled):active, .btn-outline-secondary:not([disabled]):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle { //
  border-color: #e5242c !important;
  background-color: white !important;
  color: #e5242c !important;
}
.btn-outline-secondary:focus {
  border-color: #ffa701 !important;
  background-color: white !important;
  color: #ffa701 !important;
}

//BUTTON OUTLINE 3
.btn-outline-danger {
  background-color: white !important;
  border-color: #e5242c !important;
  color: #e5242c !important;
}
.btn-outline-danger:hover {
  border-color: #ffa701 !important;
  background-color: white !important;
  color: #ffa701 !important;
}

.btn-outline-danger:hover, .btn-outline-danger:focus, .btn-outline-danger:active, .btn-outline-danger:active:focus, .btn-outline-danger.active { //
  border-color: #ffa701 !important;
  background-color: white !important;
  color: #ffa701 !important;
}
.btn-outline-danger:focus {
  border-color: #e5242c !important;
  background-color: white !important;
  color: #e5242c !important;
}
/* ---------- /BUTTONS ---------- */

/* ---------- SPAN ---------- */
.badge-default {
  background-color: #085193 !important;
}

.badge-primary {
  background-color: #ffa701 !important;
}
/* ---------- /SPAN ---------- */

/* ---------- FORM ---------- */
form label.active {
  color: #085193 !important;
}

input:focus {
  box-shadow: 0 1px 0 0 #085193 !important;
  border-color: #085193 !important;
}

textarea:focus {
  box-shadow: 0 1px 0 0 #085193 !important;
  border-color: #085193 !important;
}

textarea {
  padding-top: 1% !important;
  padding-bottom: 1% !important;
}

input
{
  padding-top: 1% !important;
  padding-bottom: 1% !important;
}
/* ---------- /FORM ---------- */

/* ---------- TABLE ---------- */
table thead{
  background-color: #085193 !important;
}
table tbody{
  background-color: white !important;
}

.thead-secondary{
  background-color: #FFA701 !important;
}


/* ---------- /TABLE ---------- */

/* ---------- PAGINATION ---------- */
.page-item.active .page-link {
  background-color: #085193 !important;
}

.no-hover {
  background-color: transparent !important;
}
.no-hover:hover {
  color: #FFA701 !important;
}
/* ---------- /PAGINATION ---------- */

  /* ---------- TEXT ---------- */
.text-link {
  color: #ffa701 !important;
}

.error-text {
  color: #e5242c;
  font-weight: bold;
}

.text-description {
  color: #818384;
}

.text-blue {
  color: #085193 !important;
}

.text-red {
  color: #e5242c !important;
}
/* ---------- /TEXT ---------- */

/* ---------- TITLE ---------- */
.no-margin-bottom {
  margin-bottom: 0px;
}
/* ---------- /TITLE ---------- */

/* ---------- CARD ---------- */
.card-title {
  margin-bottom: 6% !important;
}
/* ---------- /CARD ---------- */
