
<!-- Footer -->
<footer class="page-footer font-small grey pt-4">

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">System Development of standard Operational procedure</h5>
        <p>This web application is part of an internship project realized by three students of Polytech Montpellier, FRANCE for the IT school, Stikom, Bali, INDONESIA.
        The projec toke place from the 3rd june 2018 to the 2 auguste. </p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Team</h5>
        <p>Project Master : Mr Yudi AGUSTA</p>
        <p>Workers : FABRE Enzo, PLUCHE Cyril, TERRIEN James</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/bootstrap-tutorial/"> Stikom, Bali</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
