
<!-- Footer -->
<footer class="page-footer font-small pt-4">

  <!-- Footer Text -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3 row">

        <!-- Content -->
        <h5 class="col-12 text-uppercase font-weight-bold" style="font-size: 1.2em">standard Operational procedure</h5>
        <p class="col-12 text-justify">This web application is part of an internship project realized by three students of Polytech Montpellier FRANCE, for the IT school Stikom Bali INDONESIA.
        The project took place from the 3rd june 2018 to the 2nd august 2018. </p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3">

        <!-- Content -->
        <h5 class="offset-2 col-10 text-uppercase font-weight-bold" style="font-size: 1.2em">Team</h5>
        <p class="offset-2 col-10 text-justify">Project Master : Mr AGUSTA Yudi</p>
        <p class="offset-2 col-10 text-justify">Workers : FABRE Enzo, PLUCHE Cyril, TERRIEN James</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-1">© 2018 Copyright:
    <a href="https://stikom-bali.ac.id/act/"> Stikom, Bali</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
