<div class="container">

  <div class="row row-first">
    <div class="col">
      <button type="button" class="btn btn-outline-default waves-effect" [routerLink]="['/sop-creation']"><h6 class="no-margin-bottom"><i class="fa fa-plus mr-3"></i>New SOP</h6></button>
    </div>
  </div>

  <div class="row row-first justify-content-end">
    <div class=" md-form" id="search-bar">
      <input id="search" (keyup)="search()" class="form-control" type="text" placeholder="Search" aria-label="Search">
    </div>
  </div>

  <div class="row justify-content-center">

    <div class="col-12 card card-cascade hoverable">
      <!--Table-->
      <div class="card-body card-body-cascade">
        <table class="table table-borderless table-hover table-fixed" id="sop-table">

          <!--Table head-->
          <thead class="">
            <tr class="text-white">
              <th style="width:5%;"></th>
              <th style="width:10%;"  (click)="sortTable(1)"><a>Number</a></th>
              <th style="width:40%;" (click)="sortTable(2)"><a>Name</a></th>
              <th style="width:20%;" (click)="sortTable(3)"><a>Creation Date</a></th>
              <th style="width:20%;" (click)="sortTable(4)"><a>Approved By</a></th>
              <th style="width:5%;"></th>
            </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody>
            <tr *ngFor="let sop of sopList">
              <td scope="row">
                <a data-toggle="modal" data-target="#actionModal"><i class="fa fa-cog text-blue" (click)="selectSop(sop)"></i></a>
              </td>
              <td>{{sop.sop_id}}</td>
              <td>{{sop.sop_title.substr(0,50)}}</td>
              <td>{{sop.sop_creation | date:"MM/dd/yyyy"}}</td>
              <td>{{sop.sop_approvment}}</td>
              <td>
                <a data-toggle="modal" data-target="#warningModal" (click)="selectSop(sop)"><i class="fa fa-close text-red"></i></a>
              </td>
            </tr>
          </tbody>
          <!--Table body-->

        </table>
        <!--Table-->
      </div>
    </div>

  </div>
</div>

<app-action title={{sopSelected.sop_title}}
            text=""
            buttons={{buttonsTitles}}
            links={{buttonsLinks}}
            isLinkActive="false"
>
</app-action>

<!-- Modal warning -->
<app-warning title="Delete SOP {{sopSelected.sop_id}}"
             text="Are you sure you want to delete the SOP : {{sopSelected.sop_title}} from the SOP list ? All activities linked will be destroyed."
             link="sop-list"
             (success)="deleteSop(sopSelected.sop_id)"
             isLink=false>
</app-warning>
