<div class="container" *ngIf="!ready">
  <div class="row-first">
    <app-loader></app-loader>
  </div>
</div>

<div class="container" *ngIf="ready">

  <!-- SOP List back button -->
  <div class="row-first">
      <button type="button" class="btn btn-outline-danger waves-effect" routerLink="/sop-list"><h6 class="no-margin-bottom"><i class="fa fa-times mr-3"></i>Back</h6></button>
  </div>

  <div class="row-first">

    <!-- Error alert -->
    <div *ngIf="errorMessage" class="row justify-content-end error-text">
      <i>{{errorMessage}}</i>
    </div>

    <div class="card card-cascade hoverable">
        <div class="row card-body card-body-cascade">
          <a class="col-12 text-center " data-toggle="collapse" data-target="#sop" aria-expanded="false" aria-controls="sop">
            <ng-controller>STANDARD OPERATIONAL PROCEDURE - {{sop.sop_title.toUpperCase()}}</ng-controller>
          </a>

          <ng-controller class="col-12 collapse" id="sop">
            <div class="row justify-content-center">
              <div class="col-12 center-block anil_nepal">
                <label class="switch switch-left-right">
                  <input class="switch-input" type="checkbox" (click)="makeEditable()">
                  <span class="switch-label" data-on="Editable" data-off="OFF"></span> <span class="switch-handle"></span> </label>
              </div>
            </div>

            <div class="row">
              <div class="col-3 font-weight-bold">
                <p>SOP number</p>
              </div>
              <div class="col-8">
                <input [disabled]="true" [(ngModel)]="sop.sop_id" type="text" class="form-control">
              </div>
            </div>

            <div class="row">
              <div class="col-3 font-weight-bold">
                <p>Creation date</p>
              </div>
              <div class="col-8">
                <input [disabled]="true" [(ngModel)]="sop.sop_creation" type="date" class="form-control">
              </div>
            </div>

            <div class="row">
              <div class="col-3 font-weight-bold">
                <p>Revision date</p>
              </div>
              <div class="col-8">
                <input [disabled]="!isEditable" [(ngModel)]="sop.sop_revision" type="date" class="form-control">
              </div>
            </div>

            <div class="row">
              <div class="col-3 font-weight-bold">
                <p>Published date</p>
              </div>
              <div class="col-8">
                <input [disabled]="!isEditable" [(ngModel)]="sop.sop_published" type="date" class="form-control">
              </div>
            </div>

            <div class="row">
              <div class="col-3 font-weight-bold">
                <p>Approved by</p>
              </div>
              <div class="col-8">
                <input [disabled]="!isEditable" [(ngModel)]="sop.sop_approvment" type="text" class="form-control">
              </div>
            </div>

            <div class="row">
              <div class="col-3 font-weight-bold">
                <p>Base Rule / Regulation</p>
              </div>
              <div class="col-8">
                <input [disabled]="!isEditable" [(ngModel)]="sop.sop_rules" type="text" class="form-control">
              </div>
            </div>

            <div class="row">
              <div class="col-3 font-weight-bold">
                <p>Staff qualifications</p>
              </div>
              <div class="col-8">
                <input [disabled]="!isEditable" [(ngModel)]="sop.sop_staff_qualification" type="text" class="form-control">
              </div>
            </div>

            <div class="row">
              <div class="col-3 font-weight-bold">
                <p>Supporting tools</p>
              </div>
              <div class="col-8">
                <input [disabled]="!isEditable" [(ngModel)]="sop.sop_tools" type="text" class="form-control">
              </div>
            </div>

            <div class="row">
              <div class="col-3 font-weight-bold">
                <p>Warning</p>
              </div>
              <div class="col-8">
                <input [disabled]="!isEditable" [(ngModel)]="sop.sop_warning" type="text" class="form-control">
              </div>
            </div>

            <div class="row">
              <div class="col-3 font-weight-bold">
                <p>Types of forms and reports</p>
              </div>
              <div class="col-8">
                <input [disabled]="!isEditable" [(ngModel)]="sop.sop_type_reports" type="text" class="form-control">
              </div>
            </div>

            <div class="row">
              <div class="col-3 font-weight-bold">
                <p>Objective</p>
              </div>
              <div class="col-8">
                <input [disabled]="!isEditable" [(ngModel)]="sop.sop_objectives" type="text" class="form-control">
              </div>
            </div>
          </ng-controller>
        </div>
    </div>

  </div>



  <div class="row-first">

    <div class="card card-cascade hoverable" data-toggle="collapse" data-target="#units" aria-expanded="false" aria-controls="units">
      <a>
        <div class="row card-body card-body-cascade text-center">
          <ng-controller class="col-12">UNITS</ng-controller>

          <ng-controller class="collapse" id="units">
            <div *ngFor="let unit of units" class="col-12">
              {{unit.unit_name}}
            </div>
          </ng-controller>
        </div>
      </a>
    </div>

  </div>

  <div class="row-first">

    <div class="card card-cascade hoverable">
        <div class="row card-body card-body-cascade">
          <a class="col-12 row" data-toggle="collapse" data-target="#activities" aria-expanded="false" aria-controls="activities">
            <ng-controller class="col-12 text-center">ACTIVITIES</ng-controller>
          </a>
          <div class="collapse col-12 row" id="activities" *ngFor="let activity of convertMap(activities)">
            <hr class="col-12">

            <div class="col-1">({{activity['sub_activities'].length}})</div>
            <div class="col-9">{{activity['activity'].activity_title}}</div>
            <div class="col-2 text-center">
              <a *ngIf="activity['sub_activities'].length != 0">
                <i class="fa fa-eye text-blue" data-toggle="collapse" [attr.data-target]="'#'+activity['activity'].activity_id" aria-expanded="false" aria-controls="{{activity['activity'].activity_id}}"></i>
              </a>
            </div>
            <!-- Collapsible element -->
            <div class="col-12 row collapse" id="{{activity['activity'].activity_id}}">
              <div class="offset-2 col-10" *ngFor="let sub_activity of activity['sub_activities']">
                {{sub_activity.activity_title}}
              </div>
            </div>
            <!-- / Collapsible element -->
          </div>
        </div>
    </div>

  </div>



</div>
