<div class="container">

  <div class="row row-first">
    <div class="col">
      <button type="button" class="btn btn-outline-default waves-effect" [routerLink]="['/project-creation']"><h6 class="no-margin-bottom"><i class="fa fa-plus mr-3"></i>New Project</h6></button>
    </div>
  </div>

  <div class="row row-first justify-content-end">
    <div class=" md-form" id="search-bar">
      <input id="search" (keyup)="search()" class="form-control" type="text" placeholder="Search" aria-label="Search">
    </div>
  </div>

  <div class="row justify-content-center">

    <div class="col-12 card card-cascade hoverable">

      <!--Table-->
      <div class="card-body card-body-cascade">
        <table class="table table-borderless table-hover table-fixed" id="project-table">

          <!--Table head-->
          <thead class="">
          <tr class="text-white">
            <th style="width:5%;"></th>
            <th style="width:10%;"  (click)="sortTable(1)"><a>Code</a></th>
            <th style="width:40%;" (click)="sortTable(2)"><a>Title</a></th>
            <th style="width:20%;" (click)="sortTable(3)"><a>Start Date</a></th>
            <th style="width:20%;" (click)="sortTable(4)"><a>Finished Date</a></th>
            <th style="width:5%;"></th>
          </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody>
          <tr *ngFor="let project of projects">
            <td scope="row">
              <a data-toggle="modal" data-target="#actionModal"><i class="fa fa-cog text-blue" (click)="selectSop(sop)"></i></a>
            </td>
            <td>{{project.project_code}}</td>
            <td>{{project.project_title.substr(0,50)}}</td>
            <td>{{project.project_start | date:"MM/dd/yyyy"}}</td>
            <td>{{project.project_end | date:"MM/dd/yyyy"}}</td>
            <td>
              <a data-toggle="modal" data-target="#warningModal" (click)="selectSop(sop)"><i class="fa fa-close text-red"></i></a>
            </td>
          </tr>
          </tbody>
          <!--Table body-->

        </table>
        <!--Table-->

      </div>
    </div>

  </div>
</div>
