<div class="container">
  <div class="row row-first justify-content-center">

    <!-- Card -->
    <div class="col-10 col-md-8 col-md-6 col-xl-4 card card-cascade" id="authentification">

      <!-- Card content -->
      <div class="card-body card-body-cascade">

        <!-- Material form login -->
        <form (ngSubmit)="onSubmit()">
          <p class="h4 text-center mb-4">Sign in</p>

          <!-- Material input email -->
          <div class="md-form">
            <i class="fa fa-envelope prefix grey-text"></i>
            <input required [(ngModel)]="email" name="mail" type="email" id="materialFormLoginEmailEx" class="form-control" email>
            <label for="materialFormLoginEmailEx">Your email</label>
          </div>

          <!-- Material input password -->
          <div class="md-form">
            <i class="fa fa-lock prefix grey-text"></i>
            <input required [(ngModel)]="password" name=password type="password" id="materialFormLoginPasswordEx" class="form-control">
            <label for="materialFormLoginPasswordEx">Your password</label>
            <!-- Forgotten password -->
            <p class="font-small blue-text d-flex justify-content-end text-link">Forgot <a class="blue-text ml-1 text-link"> Password ?</a></p>
          </div>

          <!-- Error alert -->
          <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
            {{errorMessage}}
          </div>

          <div class="text-center mt-4">
            <button class="btn btn-default" type="submit">Login</button>
          </div>
        </form>
        <!-- Material form login -->

        <hr>

        <div class="row justify-content-center">
          <!-- Sign up -->
          <p class="font-small grey-text d-flex justify-content-end mt-3">Don't have an account ? <a [routerLink]="['/sign-up']" class="dark-grey-text ml-1 font-weight-bold text-link"> Sign up</a></p>
          <!-- Forgotten password -->
        </div>

      </div>

    </div>
    <!-- Card -->

  </div>
</div>
