<div class="container">
  <div class="row row-first">
    <div class="col-12 card card-cascade hoverable">
      <!--Table-->
      <div class="card-body card-body-cascade">
        Global vue
      </div>
    </div>
  </div>
  <div class="row" style="padding: 20px;">
    <div class="col-sm-12 col-lg-6" style="height: 350px">
      <p>You are <span class="red-text">Late</span> of 2 days</p>
    </div>
    <div class="col-sm-12 col-lg-6 ">

    </div>

  </div>
  <div class="row row-first">
    <div class="col-12 card card-cascade hoverable">
      <!--Table-->
      <div class="card-body card-body-cascade">
        Tasks
      </div>
    </div>
  </div>

  <div class="row justify-content-center" style="margin-top: 20px">

    <div class="col-12 card card-cascade hoverable">
      <!--Table-->
      <div class="card-body card-body-cascade">
        <table class="table">

          <!--Table head-->
          <thead class="">
          <tr class="text-white">
            <th>No</th>
            <th>Work</th>
            <th>Output</th>
            <th>Target duration</th>
            <th>Target date</th>
          </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Create document</td>
            <td>1 document</td>
            <td>1/2 day</td>
            <td>18/05/2018</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Create document</td>
            <td>1 document</td>
            <td>1/2 day</td>
            <td>18/05/2018</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Create document</td>
            <td>1 document</td>
            <td>1/2 day</td>
            <td>18/05/2018</td>
          </tr>
          </tbody>
          <!--Table body-->

        </table>
        <!--Table-->
      </div>
    </div>

  </div>


</div>
