<div class="container" *ngIf="!ready">
  <div class="row-first">
    <app-loader></app-loader>
  </div>
</div>

<div class="container" *ngIf="ready">

  <!-- SOP List back button -->
  <div class="row row-first">
    <div class="col">
      <button type="button" class="btn btn-outline-danger waves-effect" data-toggle="modal" data-target="#warningModal"><h6 class="no-margin-bottom"><i class="fa fa-times mr-3"></i>Back</h6></button>
    </div>
  </div>

  <!-- Project Form -->
  <div class="row row-first justify-content-center">

    <!-- Card -->
    <div class="col card card-cascade hoverable">

      <!-- Card content -->
      <div class="card-body card-body-cascade">

        <p class="card-title h4 text-center mb-4">Project Creation</p>

        <!-- Form -->
        <form>

          <!-- SOP Model -->
          <div [hidden]="stepSelected != 0">
            <div class="row md-form">

              <div class="offset-2 col-8">
                <p class="text-center mb-4 text-description"> Please select a SOP model to begin your project </p>
                <select name="sop_selected" class="form-control" multiple>
                  <option value="" disabled selected>Choose your model</option>
                  <option *ngFor="let sop of sops" (click)="selectSop(sop)">{{textHelper.firstLetterUpperCase(sop.sop_title)}}</option>
                </select>
              </div>
            </div>
            <div class="row justify-content-center">
              <div>
                <button [disabled]="sop_selected == null" class="btn btn-primary waves-effect" type="button" (click)="loadJobsFromSop(); changeStep(true)">Next</button>
              </div>
            </div>
          </div>

          <!-- Department selection -->
          <div class="form-group" [hidden]="stepSelected != 1">

            <div class="row">
              <div class="offset-2 col-8">
                <select (change)="pickOrganisation()" [(ngModel)]="organisation" name="organisation" class="form-control">
                  <option name="organisation" value="" disabled selected>Choose organisation</option>
                  <option *ngFor="let o of organisation_elements" [ngValue]="o">{{o['organisation'].organisation_name}}</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="offset-2 col-8">
                <select (change)="pickBranch()" [disabled]="organisation == null" [(ngModel)]="branch" name="branch" class="form-control">
                  <option name="organisation" value="" disabled selected>Choose branch</option>
                  <option *ngFor="let b of organisation['branchs']" [ngValue]="b">{{b['branch'].branch_name}}</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="offset-2 col-8">
                <select (change)="pickDepartment()" [disabled]="branch['branch'].branch_name == 'No branch'" [(ngModel)]="department" name="department" class="form-control">
                  <option name="organisation" value="" disabled selected>Choose department</option>
                  <option *ngFor="let d of branch['departments']" [ngValue]="d">{{d['department'].department_name}}</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="offset-2 col-8">
                <select [disabled]="department['department'].department_name == 'No department'" [(ngModel)]="sub_department" name="sub_department" class="form-control">
                  <option name="organisation" value="" disabled selected>Choose organisation</option>
                  <option *ngFor="let s of department['sub_departments']" [ngValue]="s">{{s.sub_department_name}}</option>
                </select>
              </div>
            </div>

            <div class="row row-first justify-content-center">
              <div>
                <button class="btn btn-danger waves-effect" type="button" (click)="changeStep(false)">Back</button>
              </div>
              <div>
                <button class="btn btn-primary waves-effect" type="button" (click)="changeStep(true)">Next</button>
              </div>
            </div>
          </div>

          <!-- Job selection -->
          <div [hidden]="stepSelected != 2">

            <div class="row md-form">
              <p class="col-12 text-center mb-4 text-description"> Please choose one or more jobs </p>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="card-body card-body-cascade">

                  <!--Table-->
                  <table class="table table-borderless table-hover table-fixed" id="job-table">

                    <!--Table head-->
                    <thead class="">
                    <tr class="text-white">
                      <th style="width:10%">Selected</th>
                      <th><a>Job Code</a></th>
                      <th><a>Job Name</a></th>
                      <th>Grouped</th>
                      <th class="text-center"><a>Activities</a></th>
                    </tr>
                    </thead>
                    <!--Table head-->

                    <!--Table body-->
                    <tbody>
                    <tr *ngFor="let job of jobs">
                      <td class="text-center">
                        <input type="checkbox" class="form-check-input" (click)="pickJob(job, false)" id="{{job.job_id}}">
                      </td>
                      <td>{{job.job_code}}</td>
                      <td>{{job.job_name}}</td>
                      <td class="text-center">
                        <input type="checkbox" class="form-check-input grouped" (click)="pickJob(job, true)" id="g_{{job.job_id}}">
                      </td>
                      <td class="text-center">
                        <a><i class="fa fa-eye text-blue"></i></a>
                      </td>
                    </tr>
                    </tbody>
                    <!--Table body-->

                  </table>
                  <!--Table-->

                </div>
              </div>
            </div>

            <div class="row justify-content-center">
              <div>
                <button class="btn btn-danger waves-effect" type="button" (click)="changeStep(false)">Back</button>
              </div>
              <div>
                <button [disabled]="jobs_selected.size == 0" class="btn btn-primary waves-effect" type="button" (click)="changeStep(true); loadUnitsFromJobs(); initializeProject();">Next</button>
              </div>
            </div>
          </div>
          <!-- Job selection -->

          <!-- Unit affectation -->
          <div [hidden]="stepSelected != 3">
            <div class="row md-form">
              <div class="offset-2 col-8">
                <p class="text-center mb-4 text-description"> Choose an unit and pick members you want to add into </p>
                <select name="unit_id_selected" class="form-control" multiple>
                  <option value="" disabled selected>Choose an unit</option>
                  <option *ngFor="let unit of elements" (click)="pickUnit(unit)">
                   ({{unit['detail']['members'].length}}){{unit['unit'].unit_name}} - {{unit['detail']['job'].job_name}}
                  </option>
                </select>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class=" md-form" id="search-bar">
                <input id="search" (keyup)="search()" class="form-control" type="text" placeholder="Search member" aria-label="Search">
              </div>
            </div>

            <div class="row md-form">
              <div class="offset-2 col-8">
                <select (click)="isUnitsReady()" name="member_selected" id="select-member" class="form-control" multiple>
                  <option value="" disabled selected>Add a member to the selected unit</option>
                  <option *ngFor="let member of members" (click)="pickMember(member); ">{{member.member_name.toUpperCase()}} {{member.member_first_name}}</option>
                </select>
              </div>
            </div>
            <div class="row justify-content-center">
              <div>
                <button class="btn btn-danger waves-effect" type="button" (click)="changeStep(false)">Back</button>
              </div>
              <div>
                <button [disabled]="!unitsReady" class="btn btn-primary waves-effect" type="button" (click)="changeStep(true)">Next</button>
              </div>
            </div>
          </div>
          <!-- Unit affectation -->

          <!-- Project name -->
          <div [hidden]="stepSelected != 4">
            <div class="row md-form">
              <p class="col-12 text-center mb-4 text-description"> Please choose a project name </p>
              <div class="offset-2 col-8">
                <input [(ngModel)]="new_project.project_title" name="new_project.project_title" type="text" id="newTitle" class="form-control">
                <label for="newTitle">Project name</label>
              </div>
            </div>

            <div class="row md-form">
              <p class="col-12 text-center mb-4 text-description"> Project date start </p>
              <div class="offset-2 col-8">
                <input (change)="checkEndDate()" [(ngModel)]="new_project_start" name="new_project_start" type="date" id="new_project_start" [min]="minimum_project_start" class="form-control">
              </div>
            </div>

            <div class="row md-form">
              <p class="col-12 text-center mb-4 text-description"> Project date end </p>
              <div class="offset-2 col-8">
                <input [(ngModel)]="new_project_end" name="new_project_project_end" type="date" id="new_project_end" [min]="minimum_project_end" class="form-control">
              </div>
            </div>

            <div class="row justify-content-center">
              <div>
                <button class="btn btn-danger waves-effect" type="button" (click)="changeStep(false)">Back</button>
              </div>
              <div>
                <button [disabled]="new_project.project_title == null || new_project.project_title == ''" class="btn btn-success waves-effect" type="button" data-toggle="modal" data-target="#confirmationModal">Finish</button>
              </div>
            </div>
          </div>

        </form>
        <!-- Form -->

      </div>
      <!-- Card content -->

    </div>
    <!-- Card -->

  </div>
  <!-- Project Form -->


  <!--Title of the unit-->
  <div class="row row-first" [hidden]="stepSelected != 3" >
    <h4>
      <span class="badge badge-pill badge-primary" *ngIf="unit_selected != null">{{unit_selected['unit'].unit_name}} - {{unit_selected['detail']['job'].job_name}}</span>
    </h4>
    <!-- Error alert -->
    <div *ngIf="errorMessage" class="col offset-2 row justify-content-end error-text">
      <i>{{errorMessage}}</i>
    </div>
  </div>

  <!-- Member Unit Binding Display -->
  <div class="row row-last justify-content-center" [hidden]="stepSelected != 3">

        <table class="col table table-borderless table-hover table-fixed" id="member-table">

          <!--Table head-->
          <thead class="">
          <tr class="text-white" *ngIf="unit_selected != null">
            <th style="width:40%;"  (click)="sortTable(0)"><a>Last Name</a></th>
            <th style="width:40%;" (click)="sortTable(1)"><a>First Name</a></th>
            <th style="width:10%;">Remove</th>
          </tr>

          <tbody *ngIf="unit_selected != null">

          <tr *ngFor="let member of unit_selected['detail']['members']">
            <td>{{member.member_name.toUpperCase()}}</td>
            <td>{{member.member_first_name}}</td>
            <td>
              <a (click)="removeMember(member); isUnitsReady()"><i class="fa fa-close text-red"></i></a>
            </td>
          </tr>

          </tbody>
        </table>

  </div>
  <!-- Activity Display -->



</div>

<!-- Modal warning -->
<app-warning title="Exit"
                  text="Are you sure you want to exit ? All your work will be lost."
                  [isLink]=true
                  link="project-list">
</app-warning>

<!-- Modal confirmation -->
<app-confirmation title="Confirmation Project creation"
                  text="Are you sure all informations about this project are correct ?"
                  (success)="onSubmit()"
                  [isLinkActive]=false
                  link="project-creation">
</app-confirmation>
