<!--Navbar-->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark primary-color hoverable">

  <!-- Navbar brand -->
  <img src="../../../../assets/images/logo-stikom.png" class="navbar-brand img-fluid" />

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']" >Home
          <span class="sr-only">(current)</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/project-list']" >Projects</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/sop-list']" >SOP</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/account']" >My Account</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/authentification']" >Log In</a>
      </li>

    </ul>
    <!-- Links -->

    <form class="form-inline">
      <div class="md-form my-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      </div>
    </form>
  </div>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->
