<!--Navbar-->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark primary-color hoverable">

  <!-- Navbar brand -->
  <img src="../../../../assets/images/logo-stikom.png" class="navbar-brand img-fluid" />

  <!-- Collapse button -->
  <button class="navbar-toggler text-link" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon text-link"></span>
  </button>


  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']" >Home
          <span class="sr-only">(current)</span>
        </a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown *ngIf="_memberService.isLoggedIn()">
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light font-weight-bold" mdbWavesEffect>
          ADMIN<span class="caret"></span>
        </a>
        <div  *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/admin-users']">Users</a>
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/admin-organization-management']">Organizations</a>
        </div>
      </li>

      <!--<li class="nav-item active">
        <a class="nav-link" *ngIf="_memberService.isLoggedIn()" [routerLink]="['/personal-achievement']" >Personal achievement
        </a>
      </li>-->

      <li class="nav-item">
        <a class="nav-link" *ngIf="_memberService.isLoggedIn()" [routerLink]="['/project-list']" >Projects</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" *ngIf="_memberService.isLoggedIn()" [routerLink]="['/sop-list']" >SOP</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" *ngIf="_memberService.isLoggedIn()" [routerLink]="['/account']" >My Account</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" *ngIf="!_memberService.isLoggedIn()" [routerLink]="['/authentification']" ><ng-controller class="font-weight-bold text-success">Log In</ng-controller></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" *ngIf="_memberService.isLoggedIn()" (click)="onLogoutClick()" ><ng-controller class="font-weight-bold text-red">Log Out</ng-controller></a>
      </li>

    </ul>
    <!-- Links -->

    <form class="form-inline">
      <div class="md-form my-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      </div>
    </form>
  </div>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->
