/* LIGHT BLACK #222222 */

.navbar-brand {
  max-width: 2%;
  height: auto;
}

.navbar {
  background-color: white !important;
}

.navbar a{
  color: #222222 !important;
}

.navbar-toggler-icon {
  background-color: #085193 !important;
}

.text-red {
  color: #e5242c !important;
}

.text-link {
 color: #085193 !important;
}
