<!-- Central Modal Medium Success -->
<div class="modal fade" id="actionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-warning" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">{{title}}</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <i id="iconDisplayed" class="fa fa-cog fa-4x mb-3 animated rotateIn"></i>
          <p>{{text}}</p>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
          <button *ngFor="let b of buttonsArray;" type="button" class="btn btn-outline-default ml-0" (click)="goDestination(linksArray[buttonsArray.indexOf(b)]);" data-dismiss="modal">{{b}}</button>
        </div>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!-- Central Modal Medium Success-->

