<div class="container">
  <div class="row row-first">
    <div class="col-6">
      <h5 class="font-weight-bold text-uppercase">Welcome to sop manager</h5>
      <h1 class="row-first font-weight-bold">Set up and manage your projects with SOP Manager</h1>
    </div>
    <div class="col-6 text-right" style="padding-top: 10%;">
      <button type="button" class="btn btn-outline-default waves-effect" [routerLink]="['/sop-creation']"><h6 class="no-margin-bottom"><i class="fa fa-plus mr-3"></i>CREATE A NEW SOP</h6></button>
    </div>
  </div>
</div>
