<div class="container" *ngIf="!ready">
  <div class="row-first">
    <app-loader></app-loader>
  </div>
</div>

<div class="container" *ngIf="ready">

  <div class="row row-first">
    <div class="col">
      <button type="button" class="btn btn-outline-danger waves-effect" data-toggle="modal" data-target="#warningModal"><h6 class="no-margin-bottom"><i class="fa fa-times mr-3"></i>Back</h6></button>
      <button class="btn btn-success waves-effect" type="button" data-toggle="modal" data-target="#confirmationModal">Submit</button>
    </div>
  </div>

  <div class="row row-first justify-content-end">
    <div class=" md-form" id="search-bar">
      <input id="search" (keyup)="search()" class="form-control" type="text" placeholder="Search" aria-label="Search">
    </div>
  </div>

  <div class="row justify-content-center">

        <table class="col-12 hoverable table table-borderless table-hover table-fixed" id="gantt-table">

          <!--Table head-->
          <thead class="">
          <tr class="text-white">
            <th (click)="sortTable(0)"><a>Job</a></th>
            <th (click)="sortTable(1)"><a>Activity</a></th>
            <th (click)="sortTable(2)"><a>Target Date</a></th>
            <th (click)="sortTable(3)"><a>Begin Date</a></th>
          </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody>
          <!-- elements[0]: activity_id && elements[1]: activity && elements[2]: m_a_p && elements[3]: members linked -->
            <tr *ngFor="let element of elements">
              <td (click)="selectRow(element)"><a>{{element['job'].job_id}}</a></td>
              <td (click)="selectRow(element)"><a>{{element['activity'].activity_title}}</a></td>
              <td>
                <input (change)="minMaxBeginDates(element)" [(ngModel)]="elements[elements.indexOf(element)]['date_target']" min="{{element['min_date_target'] | date:'yyyy-MM-dd'}}" max="{{element['max_date_target'] | date:'yyyy-MM-dd'}}" type="date" class="form-control">
              </td>
              <td>
                <input [(ngModel)]="elements[elements.indexOf(element)]['date_begin']" min="{{element['min_date_begin'] | date:'yyyy-MM-dd'}}" max="{{element['max_date_begin'] | date:'yyyy-MM-dd'}}" type="date" class="form-control">
              </td>
            </tr>
          </tbody>
          <!--Table body-->

        </table>
        <!--Table-->

        <table class="col-12 hoverable table table-borderless table-hover table-fixed" id="worker-table" *ngIf="element_selected != null">

          <!--Table head-->
          <thead class="thead-secondary">
          <tr class="text-white">
            <th (click)="sortTable1(0)"><a>Last Name</a></th>
            <th (click)="sortTable1(1)"><a>First Name</a></th>
            <th>Target Quantity</th>
          </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody >
          <tr *ngFor="let worker of element_selected['maps_members']">
            <td>{{worker['member'].member_name.toUpperCase()}}</td>
            <td>{{worker['member'].member_first_name}}</td>
            <td>
              <input [(ngModel)]="worker['m_a_p'].target_quantity" type="number" class="form-control">
            </td>
          </tr>
          </tbody>
          <!--Table body-->

        </table>
        <!--Table-->

  </div>
</div>

<!-- Modal warning -->
<app-warning title="Exit"
             text="Are you sure you want to go back to the projects list ?"
             [isLink]=true
             link="project-list">
</app-warning>

<!-- Modal confirmation -->
<app-confirmation title="Finalize gantt informations"
                  text="Are you sure all informations provided are correct ?"
                  (success)="onSubmit()"
                  [isLinkActive]=false
                  link="project-list">
</app-confirmation>
