<div class="container" *ngIf="!ready">
  <div class="row-first">
    <app-loader></app-loader>
  </div>
</div>

<div class="container" *ngIf="ready">

  <div class="row row-first">
    <div class="col">
      <button type="button" class="btn btn-outline-danger waves-effect" [routerLink]="['/project-list']"><h6 class="no-margin-bottom"><i class="fa fa-times mr-3"></i>Back</h6></button>
      <button [disabled]="!isEditable" class="btn btn-success waves-effect" type="button" data-toggle="modal" data-target="#confirmationModal">Save</button>
    </div>
  </div>

  <div class="row row-first">
    <div class="col anil_nepal">
      <label class="switch switch-left-right">
        <input class="switch-input" type="checkbox" (click)="makeEditable()">
        <span class="switch-label" data-on="Editable" data-off="OFF"></span> <span class="switch-handle"></span> </label>
    </div>
  </div>

  <div class="row">
      <div class="col-3 font-weight-bold">
        <p>Project title</p>
      </div>
      <div class="col-8">
        <input [disabled]="!isEditable" [(ngModel)]="project.project_title" type="text" class="form-control">
      </div>
  </div>

  <div class="row">
    <div class="col-3 font-weight-bold">
      <p>Project Code</p>
    </div>
    <div class="col-8">
      <input [disabled]="true" [(ngModel)]="project.project_id" type="text" class="form-control">
    </div>
  </div>

  <div class="row">
    <div class="col-3 font-weight-bold">
      <p>Project work code</p>
    </div>
    <div class="col-8">
      <input [disabled]="!isEditable" [(ngModel)]="project.project_work_code" type="text" class="form-control">
    </div>
  </div>

  <div class="row">
    <div class="col-3 font-weight-bold">
      <p>Start date</p>
    </div>
    <div class="col-8">
      <input [disabled]="!isEditable" [(ngModel)]="project.project_start" type="date" class="form-control">
    </div>
  </div>

  <div class="row">
    <div class="col-3 font-weight-bold">
      <p>End date</p>
    </div>
    <div class="col-8">
      <input [disabled]="!isEditable" [(ngModel)]="project.project_end" type="date" class="form-control">
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-3 font-weight-bold">
      <p>Organisation</p>
    </div>
    <div class="col-8">
      <select (change)="pickOrganisation()" [disabled]="!isEditable" [(ngModel)]="organisation" class="form-control">
        <option name="organisation" value="" disabled selected>Choose organisation</option>
        <option *ngFor="let o of organisation_elements" [ngValue]="o">{{o['organisation'].organisation_name}}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-3 font-weight-bold">
      <p>Branch</p>
    </div>
    <div class="col-8">
      <select (change)="pickBranch()" [disabled]="!isEditable" [(ngModel)]="branch" class="form-control">
        <option name="organisation" value="" disabled selected>Choose branch</option>
        <option *ngFor="let b of organisation['branchs']" [ngValue]="b">{{b['branch'].branch_name}}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-3 font-weight-bold">
      <p>Department</p>
    </div>
    <div class="col-8">
      <select (change)="pickDepartment()" [disabled]="!isEditable || branch['branch'].branch_name == 'No branch'" [(ngModel)]="department" class="form-control">
        <option name="organisation" value="" disabled selected>Choose department</option>
        <option *ngFor="let d of branch['departments']" [ngValue]="d">{{d['department'].department_name}}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-3 font-weight-bold">
      <p>Branch</p>
    </div>
    <div class="col-8">
      <select [disabled]="!isEditable || department['department'].department_name == 'No department'" [(ngModel)]="sub_department" class="form-control">
        <option name="organisation" value="" disabled selected>Choose organisation</option>
        <option *ngFor="let s of department['sub_departments']" [ngValue]="s">{{s.sub_department_name}}</option>
      </select>
    </div>
  </div>

</div>

<!-- Modal confirmation -->
<app-confirmation title="Update Project"
                  text="Are you sure you want to modify this project ? If the project has already started, this mights create some errors"
                  (success)="onSubmit()"
                  [isLinkActive]=false
                  link="project-list">
</app-confirmation>
