<div *ngIf="!changeFinished" class="container">
  <div class="row row-first">
    <div class="col-12 card card-cascade hoverable">
      <!--Table-->
      <div class="card-body card-body-cascade">
        My account
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 20px;">
    <div class="col-sm-12 col-lg-3">
      <p class="font-weight-bold">Name first_name</p>
    </div>
    <div class="col-sm-12 col-lg-9 ">
      <p class="float-lg-left float-sm-right">{{name}} {{firstName}}</p>
    </div>
  </div>
  <div class="row" style="margin-top: 20px;">
    <div class="col-sm-12 col-lg-3">
      <p class="font-weight-bold">Mail</p>
    </div>
    <div class="col-sm-12 col-lg-9 ">
      <p class="float-lg-left float-sm-right">{{mail}}</p>
    </div>
  </div>
  <form (ngSubmit)="onSubmit()">
  <div class="row" style="margin-top: 20px;">
    <div class="col-sm-12 col-lg-12" style="padding-top: 30px;">
      <p class="font-weight-bold">Change password</p>
    </div>
    <div class="col-sm-12 col-lg-3">
      <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input required [(ngModel)]="actualPassword" name=actualPassword type="password" id="actualPassword" class="form-control">
        <label for="actualPassword">Actual password</label>
      </div>
    </div>
    <div class="col-sm-12 col-lg-3">
      <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input required [(ngModel)]="newPassword" name=newPassword type="password" id="newPassword" class="form-control">
        <label for="newPassword">New password</label>
      </div>
    </div>
    <div class="col-sm-12 col-lg-3">
      <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input required [(ngModel)]="newPasswordCheck" name=password type="password" id="newPasswordCheck" class="form-control">
        <label for="newPasswordCheck">Confirm new password</label>
      </div>
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
      {{errorMessage}}
    </div>
    <div class="col-sm-12 col-lg-3">
      <div class="text-center mt-4">
        <button class="btn btn-default btn-sm" type="submit">Change</button>
      </div>
    </div>
  </div>
  </form>

</div>

<app-summary *ngIf="changeFinished"
             title="Success"
             text="Your password has been updated, please login to confirm your statut."
             buttonTitle="Home" link="home">
</app-summary>
