<div class="container" *ngIf="!ready">
  <div class="row-first">
    <app-loader></app-loader>
  </div>
</div>

<div class="container" *ngIf="ready">

  <!-- Back button -> Sop List -->
  <div class="row row-first">
    <div class="col">
      <button type="button" class="btn btn-outline-danger waves-effect" data-toggle="modal" data-target="#warningModal"><h6 class="no-margin-bottom"><i class="fa fa-times mr-3"></i>Exit</h6></button>
    </div>
  </div>

  <!-- Activity Form -->

  <div class="row row-first justify-content-center">

    <!-- Card -->
    <div class="col card card-cascade hoverable">

      <!-- Card content -->
      <div class="card-body card-body-cascade">

        <p class="h4 text-center mb-4">Activities Creation</p>

        <!-- Activity Form -->
        <form>

          <!-- Title -->
          <div class="row md-form">
            <div class="offset-1 col-10">
              <input (keyup)="verification()" [(ngModel)]="new_activity.activity_title" name="newActivityTitle" type="text" id="newActivityTitle" class="form-control">
              <label for="newActivityTitle">Activity Name</label>
            </div>
          </div>

          <!-- Description -->
          <div class="row md-form">
            <div class="offset-1 col-10">
              <textarea (keyup)="verification()" [(ngModel)]="new_activity.activity_description" name="newActivityDescription" type="text" id="newActivityDescription" class="form-control md-textarea" rows="1" ></textarea>
              <label for="newActivityDescription">Activity description</label>
            </div>
          </div>

          <!-- Management Level -->
          <div class="row md-form">
            <div class="offset-1 col-10">
              <p class="text-center mb-4 text-description"> Please select a management level </p>
              <select [disabled]="step==2" (change)="verification()" [(ngModel)]="new_activity.managment_level_id" name="newActivityLevelId" class="form-control">
                <option value="" disabled selected>Choose your management level</option>
                <option *ngFor="let m of management_levels" value="{{m.managment_level_id}}">{{m.managment_level_label}}</option>
              </select>
            </div>
          </div>

          <!-- Unit -->
          <div class="row md-form">
            <div class="offset-1 col-10">
              <p class="text-center mb-4 text-description"> Please select a unit</p>
              <select [disabled]="step==2" (change)="verification()" [(ngModel)]="new_unit_id" name="unit_id_selected" class="form-control">
                <option value="" disabled selected>Choose an unit</option>
                <option *ngFor="let u of units" value="{{u.unit_id}}">{{u.unit_name}}</option>
              </select>
            </div>
          </div>

          <!-- Type Duration -->
          <div class="row md-form">
            <div class="offset-1 col-10">
              <p class="text-center mb-4 text-description"> Please select a duration type </p>
              <select [disabled]="step==2" (change)="verification()" [(ngModel)]="new_activity.activity_type_duration" name="newActivityTypeDuration" class="form-control">
                <option value="" disabled selected>Choose your duration type</option>
                <option value="minutes">Minute</option>
                <option value="hours">Hour</option>
                <option value="days">Day</option>
                <option value="months">Month</option>
              </select>
            </div>
          </div>

          <!-- Duration -->
          <div class="row md-form">
            <div class="offset-1 col-10">
              <input (keyup)="verification()" [(ngModel)]="new_activity.activity_duration" name="newActivityDuration" type="number" id="newActivityDuration" min="0" class="form-control">
              <label for="newActivityDuration">Duration</label>
            </div>
          </div>

          <!-- Type output -->
          <div class="row md-form">
            <div class="offset-1 col-10">
              <input (keyup)="verification()" [(ngModel)]="new_activity.activity_type_output" name="newActivityTypeOutput" type="text" id="newActivityTypeOutput" class="form-control">
              <label for="newActivityTypeOutput">Type of output</label>
            </div>
          </div>

          <div class="row md-form" *ngIf="step == 1">
            <div class="offset-1 col-5">
              <button class="btn btn-primary waves-effect" type="button" (click)="addActivity()" [disabled]="!fieldsReady">Add</button>
            </div>
            <div class="col-5 row justify-content-end">
              <div class="">
                <button class="btn btn-success waves-effect" data-toggle="modal" data-target="#confirmationModal" type="button">Finish</button>
              </div>
            </div>
          </div>

          <div class="row md-form" *ngIf="step == 2">
            <div class="offset-1 col-5">
              <button class="btn btn-primary waves-effect" type="button" (click)="addSubActivity()" [disabled]="!fieldsReady">Add</button>
            </div>
            <div class="col-5 row justify-content-end">
              <div class="">
                <button class="btn btn-primary waves-effect" (click)="changeStep(false);" type="button">Back</button>
              </div>
            </div>
          </div>

        </form>

      </div>
      <!-- Card content -->
    </div>
    <!-- Card -->

  </div>

  <!-- Activity Form -->

  <!--Title of the step-->
  <div class="row row-first">
    <h4>
      <span class="badge badge-pill badge-primary" [hidden]="step != 1">Activity List</span>
      <span class="badge badge-pill badge-primary" *ngIf="activity_selected != null" [hidden]="step != 2">{{activity_selected.activity_title}}</span>
    </h4>
    <!-- Error alert -->
    <div *ngIf="errorMessage" class="col offset-2 row justify-content-end error-text">
      <i>{{errorMessage}}</i>
    </div>
  </div>

  <!-- SOP Display -->
  <div class="row row-last justify-content-center">

        <table class="col hoverable table table-borderless table-hover table-fixed" id="activiy-table" [hidden]="step != 1">

          <!--Table head-->
          <thead class="">
          <tr class="text-white text-center">
            <th style="width: 10%">Sub Activities</th>
            <th (click)="sortTable(1)"><a>Title</a></th>
            <th (click)="sortTable(2)"><a>Duration</a></th>
            <th (click)="sortTable(3)"><a>Type of output</a></th>
            <th style="width: 10%" >Delete</th>
          </tr>
          </thead>

          <tbody>

          <tr class="text-center" *ngFor="let activity of convertMap(activities)">
            <ng-container *ngIf="activity['action'] != 'delete'">
              <td class="text-center">
                <a (click)="selectActivity(activity)"><i class="fa fa-plus text-blue"></i></a>
              </td>
              <td>{{activity['activity'].activity_title}}</td>
              <td>{{activity['activity'].activity_duration}} {{activity['activity'].activity_type_duration}}</td>
              <td>{{activity['activity'].activity_type_output}}</td>
              <td>
                <a (click)="deleteActivity(activity)"><i class="fa fa-close text-red"></i></a>
              </td>
            </ng-container>
          </tr>
          </tbody>
        </table>

        <table class="col hoverable table table-borderless table-hover table-fixed" id="sub_activity-table" [hidden]="step != 2" *ngIf="activity_selected != null">

          <!--Table head-->
          <thead class="">
          <tr class="text-white text-center">
            <th (click)="sortTable1(0)"><a>Title</a></th>
            <th (click)="sortTable1(1)"><a>Duration</a></th>
            <th (click)="sortTable1(2)"><a>Type of output</a></th>
            <th style="width: 10%">Delete</th>
          </tr>
          </thead>

          <tbody>

          <tr class="text-center" *ngFor="let activity of activity_selected['children']" [hidden]="step !=2">
            <ng-container *ngIf="activity['action'] != 'delete'">
              <td>{{activity['activity'].activity_title}}</td>
              <td>{{activity['activity'].activity_duration}} {{activity['activity'].activity_type_duration}}</td>
              <td>{{activity['activity'].activity_type_output}}</td>
              <td>
                <a (click)="deleteSubActivity(activity)"><i class="fa fa-close text-red"></i></a>
              </td>
            </ng-container>
          </tr>
          </tbody>

        </table>

  </div>
  <!-- Activity Display -->

</div>

<!-- Modal confirmation -->
<app-confirmation title="Confirmation activities creation"
                  text="Are you sure all informations provided are correct ?"
                  [isLinkActive]=false
                  link="sop-list"
                  (success)="onSubmit()"
                  >
</app-confirmation>

<!-- Modal warning -->
<app-warning title="Exit"
             text="Are you sure you want to go back to the SOP list ?"
             [isLink]=true
             link="sop-list">
</app-warning>


<script>
  // Tooltips Initialization
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
