<!-- Central Modal Medium Success -->
<div class="modal fade" id="activityModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-warning" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">{{title}}</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <i id="iconDisplayed" class="fa fa-cog fa-4x mb-3 animated rotateIn"></i>

          <div class="row row-first">
            <div class="col-3 font-weight-bold">
              <p>Title</p>
            </div>
            <div class="col-8">
              <input [(ngModel)]="activityUpdate.activity_title" type="text" class="form-control">
            </div>
          </div>

          <div class="row">
            <div class="col-3 font-weight-bold">
              <p>Description</p>
            </div>
            <div class="col-8">
              <input [(ngModel)]="activityUpdate.activity_description" type="text" class="form-control">
            </div>
          </div>

          <div class="row">
            <div class="col-3 font-weight-bold">
              <p>Management level</p>
            </div>
            <div class="col-8">
              <select [(ngModel)]="new_management_level" class="form-control">
                <option name="organisation" value="" disabled selected>Choose organisation</option>
                <option *ngFor="let m of managment_levels" [ngValue]="m">{{m.managment_level_label}}</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-3 font-weight-bold">
              <p>Type duration</p>
            </div>
            <div class="col-8">
              <select [(ngModel)]="activityUpdate.activity_type_duration" class="form-control">
                <option name="organisation" value="" disabled selected>Choose organisation</option>
                <option *ngFor="let d of type_durations" [ngValue]="d">{{d}}</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-3 font-weight-bold">
              <p>Unit</p>
            </div>
            <div class="col-8">
              <select [(ngModel)]="new_unit" class="form-control">
                <option name="organisation" value="" disabled selected>Choose organisation</option>
                <option *ngFor="let u of units" [ngValue]="u">{{u.unit_name}}</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-3 font-weight-bold">
              <p>Duration</p>
            </div>
            <div class="col-8">
              <input [(ngModel)]="activityUpdate.activity_duration" type="number" class="form-control">
            </div>
          </div>

          <div class="row">
            <div class="col-3 font-weight-bold">
              <p>Type output</p>
            </div>
            <div class="col-8">
              <input [(ngModel)]="activityUpdate.activity_type_output" type="text" class="form-control">
            </div>
          </div>

        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" class="btn btn-outline-danger waves-effect" data-dismiss="modal" (click)="reset();">Cancel</a>
        <a type="button" class="btn btn-success waves-effect" (click)="goDestination();" data-dismiss="modal" >Save</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!-- Central Modal Medium Success-->
