<div *ngIf="!actionFinished" class="container">

  <div class="row row-first">
    <div class="col-12 card card-cascade hoverable">
      <!--Table-->
      <div class="card-body card-body-cascade">
        Manage Users
      </div>
    </div>
  </div>

  <div class="row justify-content-center" style="margin-top: 20px">

    <div class="col-12 card card-cascade hoverable">
      <!--Table-->
      <div class="card-body card-body-cascade">
        <table class="table">

          <!--Table head-->
          <thead class="">
          <tr class="text-white">
            <th>First Name</th>
            <th>Name</th>
            <th>Mail</th>
            <th>Role</th>
            <th>Actions</th>
          </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody>
          <tr *ngFor="let user of users">
            <th scope="row">{{user.member_first_name}}</th>
            <td scope="row">{{user.member_name}}</td>
            <td>{{user.member_mail}}</td>
            <td *ngIf="user.member_admin == 1">admin</td>
            <td *ngIf="user.member_admin !== 1 && user.member_role === null">no role</td>
            <td *ngIf="user.member_admin !== 1 && user.member_role !== null">
              <span  *ngFor="let role of user.member_role">{{role}}<br></span>
            </td>
            <td *ngIf="user.member_valid == 0"><span style="color: red;">mail not validated</span> </td>
            <td *ngIf="user.member_valid == 2"> <button (click)="validateUser(user.member_id)" class="btn btn-warning btn-sm">approve account</button></td>
            <td *ngIf="user.member_valid == 1"> <button class="btn btn-default btn-sm">No action</button></td>
          </tr>

          </tbody>
          <!--Table body-->

        </table>
        <!--Table-->
      </div>
    </div>

  </div>


</div>

<div *ngIf="actionFinished" class="container">
  <div class="row row-first justify-content-center">

    <!-- Card -->
    <div class="col-10 col-sm-8 col-md-6 col-xl-4 card card-cascade hoverable">

      <!-- Card content -->
      <div class="card-body card-body-cascade">

        <p class="h4 text-center mb-4" >{{title}}</p>


        <p class="text-center mb-4">
          {{text}}
        </p>

        <div class="text-center mt-4">
          <a class="btn btn-default" (click)="goBack()" >go Back</a>
        </div>

      </div>
    </div>



  </div>
</div>
