<div *ngIf="!actionFinished" class="container">

  <div class="row row-first">
    <div class="col-12 card card-cascade hoverable">
      <!--Table-->
      <div class="card-body card-body-cascade">
        Manage Users
      </div>
    </div>
  </div>

  <div class="row justify-content-center" style="margin-top: 20px">

    <div class="col-12 card card-cascade hoverable">
      <!--Table-->
      <div class="card-body card-body-cascade">
        <table class="table">

          <!--Table head-->
          <thead class="">
          <tr class="text-white">
            <th>First Name</th>
            <th>Name</th>
            <th>Mail</th>
            <th>Role(s)</th>
            <th>Actions</th>
          </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody>
          <tr *ngFor="let user of users">
            <th scope="row">{{user.member_first_name}}</th>
            <td scope="row">{{user.member_name}}</td>
            <td>{{user.member_mail}}</td>
            <td *ngIf="user.member_admin == 1">admin (all roles)<i (click)="manageRoles(user.member_id,user.member_admin)" class="material-icons update-roles">create</i></td>
            <td *ngIf="user.member_admin !== 1 && user.member_role === null">no role<i (click)="manageRoles(user.member_id,user.member_admin)" class="material-icons update-roles">create</i></td>
            <td *ngIf="user.member_admin !== 1 && user.member_role !== null">
              <span  *ngFor="let role of user.member_role">{{role}}<br></span><i (click)="manageRoles(user.member_id,user.member_admin)" class="material-icons update-roles">create</i>
            </td>
            <td *ngIf="user.member_valid == 0"><span style="color: red;">Account not valid. Mail not validated yet</span> </td>
            <td *ngIf="user.member_valid == 2"> <button (click)="validateUser(user.member_id)" class="btn btn-warning btn-sm">Approve account</button></td>
            <td *ngIf="user.member_valid == 1" style="color: green"> Account valid</td>
          </tr>

          </tbody>
          <!--Table body-->

        </table>
        <!--Table-->
      </div>
    </div>

  </div>


</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" [ngStyle]="{'display': mdlSampleIsOpen ? 'block' : 'none', 'opacity': 1}" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Manage user role</h5>
      </div>
      <div class="modal-body">
        <div *ngIf="user_admin == 1">This user is an admin, he has all the roles</div>
        <div *ngIf="user_admin != 1">
          <ul class="list-group" *ngIf="user_roles?.length > 0">
            <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let role of user_roles">
              {{role}}
              <i class="material-icons" (click)="deleteRole(role)">delete</i>
            </li>

          </ul>
          <span  *ngIf="user_roles?.length == 0">This user has no roles</span>
          <form>
            <div class="md-form">
              <select [(ngModel)]="roleChossen" name="roleChossen" class="form-control mdb-select" >
                <option value="" disabled selected>Choose a role to add</option>
                <option *ngFor="let role of roles" [ngValue]=role.role_id>{{role.role_title}}</option>
              </select>
            </div>
            <div class="md-form">
              <a class="btn btn-success" (click)="grantUser()">Add a new role</a>
            </div>

          </form>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="actionFinished" class="container">
  <div class="row row-first justify-content-center">

    <!-- Card -->
    <div class="col-10 col-sm-8 col-md-6 col-xl-4 card card-cascade hoverable">

      <!-- Card content -->
      <div class="card-body card-body-cascade">

        <p class="h4 text-center mb-4" >{{title}}</p>


        <p class="text-center mb-4">
          {{text}}
        </p>

        <div class="text-center mt-4">
          <a class="btn btn-default" (click)="goBack()" >go Back</a>
        </div>

      </div>
    </div>



  </div>
</div>
