<div class="container" *ngIf="!ready">
  <div class="row-first">
    <app-loader></app-loader>
  </div>
</div>

<div class="container" *ngIf="ready">

  <div class="row row-first">
    <div class="col">
      <button type="button" class="btn btn-outline-danger waves-effect" routerLink="/project-list"><h6 class="no-margin-bottom"><i class="fa fa-times mr-3"></i>Back</h6></button>
    </div>
  </div>

  <div class="row row-first justify-content-end">
    <div class=" md-form" id="search-bar">
      <input id="search" (keyup)="search()" class="form-control" type="text" placeholder="Search" aria-label="Search">
    </div>
  </div>

  <div class="row justify-content-center">

    <table class="col-12 hoverable table table-borderless table-hover table-fixed" id="gantt-table">

      <!--Table head-->
      <thead class="">
      <tr class="text-white">
        <th><a>No</a></th>
        <th class="text-small"><a>Staff Names</a></th>
        <th class="text-small"><a>Total Target</a></th>
        <th><a>{{months_label[month_index]}}</a></th>
      </tr>
      </thead>
      <!--Table head-->

      <!--Table body-->
      <tbody>
      <!-- elements[0]: activity_id && elements[1]: activity && elements[2]: m_a_p && elements[3]: members linked -->
      <tr *ngFor="let element of elements">
        <td>{{element['member']['member_id']}}</td>
        <td class="text-small">{{element['member']['member_name'].toUpperCase()}} {{element['member']['member_first_name']}}</td>
        <td>{{element['total_target']}}</td>
        <td></td>
      </tr>
      </tbody>
      <!--Table body-->

    </table>
    <!--Table-->

  </div>

</div>

