<div class="container" *ngIf="!ready">
  <div class="row-first">
    <app-loader></app-loader>
  </div>
</div>

<div class="container" *ngIf="ready">

  <div class="row row-first">
    <div class="col">
      <button type="button" class="btn btn-outline-danger waves-effect" routerLink="/project-list"><h6 class="no-margin-bottom"><i class="fa fa-times mr-3"></i>Back</h6></button>
    </div>
  </div>

  <div class="row row-first input-group justify-content-between">
    <div class="md-form col-2" id="search-bar">
      <input id="search" (keyup)="search()" class="form-control" type="text" placeholder="Search" aria-label="Search">
    </div>
    <div class="month-select col-2">
      <ul class="pagination pg-blue justify-content-center"  >
        <li class="page-item text-middle" data-toggle="tooltip" data-placement="top" title="previous" ><i class="page-link no-hover fa fa-arrow-left" (click)="changeMonth(false)"></i></li>

        <!--Numbers-->
        <li><h2><span class="badge badge-default">{{month_selected['month_label']}}</span></h2></li>

        <li class="page-item" data-toggle="tooltip" data-placement="top" title="next" ><i id="nextArrow" class="page-link no-hover fa fa-arrow-right" (click)="changeMonth(true)"></i></li>

      </ul>
    </div>
  </div>

  <div class="row justify-content-center">

    <table class="col-12 hoverable table table-borderless table-hover table-fixed" id="gantt-table">

      <!--Table head-->
      <thead class="">
      <tr class="text-white">
        <th><a>No</a></th>
        <th class="text-small"><a>Staff Names</a></th>
        <th class="text-small"><a>Total Target</a></th>
        <th *ngFor="let week of weeks">{{week[0]}}</th>
      </tr>
      </thead>
      <!--Table head-->

      <!--Table body-->
      <tbody>
      <!-- elements[0]: activity_id && elements[1]: activity && elements[2]: m_a_p && elements[3]: members linked -->
      <tr *ngFor="let element of elements">
        <td>{{element['member']['member_id']}}</td>
        <td class="text-small">{{element['member']['member_name'].toUpperCase()}} {{element['member']['member_first_name']}}</td>
        <td>{{element['total_target']}}</td>

        <th *ngFor="let week of weeks">
          <h6>
            <span *ngIf="targets.get(element['member']['member_id']).get(week[1]) != null" class="badge badge-default">{{targets.get(element['member']['member_id']).get(week[1])['finished_quantity']}}</span>
            <span *ngIf="targets.get(element['member']['member_id']).get(week[1]) != null" class="badge badge-primary">{{targets.get(element['member']['member_id']).get(week[1])['target_quantity']}}</span>
            <span *ngIf="targets.get(element['member']['member_id']).get(week[1]) != null" class="badge badge-danger">{{calculPourcentage(targets.get(element['member']['member_id']).get(week[1])['finished_quantity'], targets.get(element['member']['member_id']).get(week[1])['target_quantity'])}}%</span>
          </h6>
        </th>
      </tr>
      </tbody>
      <!--Table body-->

    </table>
    <!--Table-->

  </div>

</div>

<script>
  // Material Select Initialization
  $(document).ready(function() {
    $('.mdb-select').material_select();
  });
</script>

