.text-small{
  font-size: 0.7em !important;
  font-weight: 500 !important;
}

.text-medium{
  font-size: 0.7em !important;
  font-weight: 500 !important;
}

.month-select {
  padding-bottom: 20px;
  padding-top: 20px;
  margin-left: 5%;
}

.input-group-addon.success {
  color: rgb(255, 255, 255);
  background-color: #ffa701;
  border-color: #ffa701;
}


.badge-primary {
  background-color: #008593 !important;
}
